:root{
  --primary-color: #5ce1e6;
}

p{
  margin-bottom: 0;
}

.profile-img{
  aspect-ratio: 1/1;
  border: 15px solid white;
  border-radius: 50%;
}

.bg-main{
  background-color: var(--primary-color);
}

.fullscreen{
  min-height: 100vh;
}

.fullscreen-with-header{
  min-height: calc(100vh - 56px);
}

.header-font{
  font-family: 'Poppins', sans-serif;
}

.f-600{
  font-weight: 600;
}

.f-100{
  font-weight: 100;
}

.btn{
  border-radius: 0;
}