:root {
  --primary-color: #5ce1e6;
  --light-bg: #f0f0f0;
  --dark-bg: #353535;
}

/* SECTION SPECIFIC ITEMS */

.profile-img {
  aspect-ratio: 1/1;
  border: 15px solid white;
  border-radius: 50%;
  max-height: 50vh;
}

.icons {
  font-size: 2.5rem;
}

.skill-icons {
  font-size: 4.0rem;
}

.position-text {
  font-weight: 600;
  word-wrap: normal;
  font-size: 3rem;
  line-height: 50px;
}

.underline {
  border-bottom: 3px solid var(--primary-color);
}

.left-border {
  border-left: 3px solid var(--primary-color);
}

.separation-line {
  border-bottom: 1px solid rgba(53, 53, 53, .50);
}

.nav-bound {
  border-bottom: 1px solid rgba(53, 53, 53, .20);
}

.portfolio-img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* SECTION SPECIFIC ITEMS */


/* SECTION UTILITY CLASSES */
.bg-main {
  background-color: var(--primary-color);
}

.light-bg {
  background-color: var(--light-bg);
}

.dark-bg {
  background-color: var(--dark-bg);
}

.text-main-color {
  color: var(--primary-color);
}

.fullscreen {
  min-height: 100vh;
}

.fullscreen-with-header {
  min-height: calc(100vh - 56px);
}

.header-font {
  font-family: 'Poppins', sans-serif;
}

/* !SECTION UTILITY CLASSES */


/* SECTION OVERRIDES */
p {
  margin-bottom: 0;
}

.btn {
  border-radius: 0;
}

/* !SECTION OVERRIDES */