<div class="container-fluid header-font">
  <!-- SECTION INTRODUCTION -->
  <section id="home" class="row pt-5 text-center fullscreen-with-header bg-main align-items-center">
    <div class="col-12 p-4">
      <img class="img-fluid profile-img" src="/assets/img/coffee.jpg" alt="">
    </div>
    <div class="col-12">
      <p class="fw-normal text-uppercase fs-3">Hi, I'm Matthew Wong</p>
      <p class="text-uppercase position-text my-1">Software Developer</p>
      <p class="fw-normal fs-5">based in Eagle, ID</p>
    </div>
    <div class="col-12">
      <button class="btn btn-dark px-4 py-2">View My Works</button>
    </div>
    <a href="">Contact Me <i class="mdi mdi-arrow-down-bold-circle-outline"></i></a>
  </section>
  <!-- !SECTION INTRODUCTION -->

  <!-- SECTION ABOUT ME -->
  <section id="about" class="row justify-content-center text-center bg-white">
    <div class="mt-5 mb-3 col-auto">
      <p class="bg-main px-2">About Me</p>
    </div>
    <h2 class="fw-semibold fs-1 mb-5">Know Me More</h2>
    <div class="col-12 mb-5">
      <p class="fw-normal fs-2 mb-2">Hi, I'm <span class="fw-semibold fs-1 underline">Matthew Wong</span></p>
      <p class="fw-normal fs-5">
        I'm a designer & developer with a passion for web design. I enjoy developing simple, clean and slick websites
        that provide real value to the end user. Thousands of clients have procured exceptional results while working
        with me. Delivering work within time and budget which meets client’s requirements is our moto.
      </p>
    </div>
  </section>
  <!-- !SECTION ABOUT ME -->

  <!-- SECTION SERVICES -->
  <section id="services" class="row justify-content-center text-center light-bg">
    <div class="mt-5 mb-3 col-auto">
      <p class="bg-main px-2">What I Do?</p>
    </div>
    <h2 class="fw-semibold fs-1 mb-5">Areas of Interest</h2>
    <div class="col-12 col-md-6 mb-5 px-md-5">
      <i class="mdi mdi-palette text-main-color icons"></i>
      <p class="fs-3 fw-semibold">Graphic Design</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
        standard dummy text.</p>
    </div>
    <div class="col-12 col-md-6 mb-5 px-md-5">
      <i class="mdi mdi-monitor text-main-color icons"></i>
      <p class="fs-3 fw-semibold">Web Design</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
        standard dummy text.</p>
    </div>
    <div class="col-12 col-md-6 mb-5 px-md-5">
      <i class="mdi mdi-pencil-ruler text-main-color icons"></i>
      <p class="fs-3 fw-semibold">UI/UX Design</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
        standard dummy text.</p>
    </div>
    <div class="col-12 col-md-6 mb-5 px-md-5">
      <i class="mdi mdi-brush text-main-color icons"></i>
      <p class="fs-3 fw-semibold">App Design & Development</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
        standard dummy text.</p>
    </div>
  </section>
  <!-- !SECTION SERVICES -->

  <!-- SECTION RESUME -->
  <section id="resume" class="row justify-content-center text-center bg-white">
    <div class="mt-5 mb-3 col-auto">
      <p class="bg-main px-2">Resume</p>
    </div>
    <h2 class="fw-semibold fs-1 mb-5">A Summary of My Resume</h2>

    <div class="col-12 col-md-6 text-start mb-5 px-3">
      <p class="fs-3 fw-semibold">My Education</p>
      <div class="left-border mt-3">
        <div class="ps-3 fs-6 fw-normal">
          <div class="separation-line mb-3">
            <p class="fs-5">Bachelor of Science</p>
            <div class="my-2">
              <p>California State University, East Bay</p>
              <p>Business Degree - IT Management Option</p>
            </div>
            <p class="mb-3">2013 - 2017</p>
          </div>
          <div class="separation-line mb-3">
            <p class="fs-5">Certificate of Completion</p>
            <div class="my-2">
              <p>Boise Codeworks</p>
              <p>Full Stack Development Course</p>
            </div>
            <p class="mb-3">Sep 2023 - Dec 2023</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 text-start mb-5 px-3">
      <p class="fs-3 fw-semibold">My Experience</p>
      <div class="left-border mt-3">
        <div class="ps-3 fs-6 fw-normal">
          <div class="separation-line mb-3">
            <p class="fs-5">Full Stack Development Student</p>
            <div class="my-2">
              <p>Boise Codeworks</p>
              <p>Sep 2023 - Dec 2023</p>
            </div>
            <ul class="fw-light">
              <li>
                Completed 500+ hours of coursework doing full-stack development
              </li>
              <li>
                Gained proficiency building frontend Single Page Applications using Javascript, HTML, CSS and the Vue.js
                framework
              </li>
              <li>
                Developed RESTful back end APIs and databases using C#, .NET, MongoDB, MySQL, and Auth0
              </li>
              <li>
                Built 20+ web applications
              </li>
              <li>
                Learned principles of SCRUM/Agile development
              </li>
              <li>
                Gained experience working in a team of developers
              </li>
              <li>
                Built a strong foundation for design patterns like MVC
              </li>
            </ul>
          </div>

          <div class="separation-line mb-3">
            <p class="fs-5">Software Engineer</p>
            <div class="my-2">
              <p>Mariner Wealth Advisors</p>
              <p>Apr 2022 - Aug 2023</p>
            </div>
            <ul class="fw-light">
              <li>
                Built Python modules and distributed them on GitHub for other team members to use.
              </li>
              <li>
                Refactored old scripts to use Python as the primary language.
              </li>
              <li>
                Automated and monitored daily processes using ActiveBatch
              </li>
              <li>
                Performed ETL processes using Alteryx Designer on data from vendors into the enterprise Snowflake
                database
              </li>
            </ul>
          </div>

          <div class="separation-line mb-3">
            <p class="fs-5">IT Ambassador</p>
            <div class="my-2">
              <p>Viewpoint Financial Network</p>
              <p>Feb 2012 - Apr 2022</p>
            </div>
            <ul class="fw-light">
              <li>
                Provided in-house IT support to employees for software and hardware issues
              </li>
              <li>
                Product Owner for all subscription SAAS products. Performed admin duties, provisioned, and managed users
                on each system
              </li>
              <li>
                Managed, distributed, and installed company owned devices/hardware
              </li>
              <li>
                Researched and implemented software service solutions for cloud storage, remote meetings, interoffice
                chat, password management, VOIP phones
              </li>
              <li>
                Wrote custom VBA macros to increase office productivity and distributed them as an Excel add-in
              </li>
              <li>
                Acted as liaison to parent company tech support
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </section>
  <!-- !SECTION RESUME -->

  <section id="portfolio" class="row justify-content-center text-center dark-bg text-white">
    <div class="mt-5 mb-3 col-auto">
      <p class="bg-main px-2 text-dark">Portfolio</p>
    </div>
    <h2 class="fw-semibold fs-1 mb-5">My Recent Projects</h2>

    <div class="list-group list-group-horizontal justify-content-center px-4">
      <button class="list-group-item list-group-item-action">All</button>
      <button class="list-group-item list-group-item-action">Apps</button>
      <button class="list-group-item list-group-item-action">Games</button>
      <button class="list-group-item list-group-item-action">Art</button>
      <button class="list-group-item list-group-item-action">3D</button>
    </div>

    <div class="row my-5">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
        <img class="portfolio-img"
          src="https://images.unsplash.com/photo-1706378398232-834ca3201ef2?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
        <img class="portfolio-img"
          src="https://images.unsplash.com/photo-1706378398232-834ca3201ef2?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
        <img class="portfolio-img"
          src="https://images.unsplash.com/photo-1706378398232-834ca3201ef2?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
        <img class="portfolio-img"
          src="https://images.unsplash.com/photo-1706378398232-834ca3201ef2?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
    </div>

  </section>
</div>