<div class="container-fluid">
  <!-- SECTION INTRODUCTION -->
  <section id="home" class="row pt-5 px-md-4 text-center fullscreen-with-header bg-main align-items-center">
    <div class="col-12 col-md-5 p-4 p-md-0 order-1 order-md-2">
      <img class="img-fluid profile-img" src="/assets/img/coffee.jpg" alt="">
    </div>
    <div class="col-12 col-md-7 ps-md-5 pe-md-0 order-2 order-md-1 text-md-start">
      <p class="fw-normal text-uppercase fs-3">Hi, I'm Matthew Wong</p>
      <p class="text-uppercase position-text my-1 ps-1">Software Developer</p>
      <p class="fw-normal fs-5">based in Eagle, ID</p>
      <div class="mt-5 d-flex flex-column flex-md-row align-items-center">
        <div class="pe-md-5">
          <button onclick="app.HomeController.jumpTo('portfolio')" class="btn btn-dark px-4 py-2">View My Works</button>
        </div>
        <a onclick="app.HomeController.jumpTo('contact')" class="py-3" role="button">Contact Me <i
            class="mdi mdi-arrow-down-bold-circle-outline"></i></a>
      </div>
    </div>

  </section>
  <!-- !SECTION INTRODUCTION -->

  <!-- SECTION ABOUT ME -->
  <section id="about" class="row justify-content-center text-center bg-white py-5">
    <div class="mt-5 mb-3 col-auto" data-aos="fade-up">
      <p class="bg-main px-2">About Me</p>
    </div>
    <h2 class="fw-semibold section-title mb-5" data-aos="fade-up">Know Me More</h2>
    <div class="col-12 mb-5 px-md-5" data-aos="fade-up">
      <p class="fw-normal fs-2 mb-2">Hi, I'm <span class="fw-semibold fs-1 underline">Matthew Wong</span></p>
      <p class="fw-normal fs-5 px-md-5">
        I'm a designer & developer with a passion for web design. I enjoy developing simple, clean and slick websites
        that provide real value to the end user. Thousands of clients have procured exceptional results while working
        with me. Delivering work within time and budget which meets client’s requirements is our moto.
      </p>
    </div>
  </section>
  <!-- !SECTION ABOUT ME -->

  <!-- SECTION INTERESTS -->
  <section id="interests" class="row justify-content-center text-center light-bg py-5">
    <div class="mt-5 mb-3 col-auto" data-aos="fade-up">
      <p class="bg-main px-2">What I Do?</p>
    </div>
    <h2 class="fw-semibold section-title mb-5" data-aos="fade-up">Areas of Interest</h2>
    <div class="col-12 col-md-6 mb-5 px-md-5" data-aos="fade-right">
      <i class="mdi mdi-palette text-main-color icons"></i>
      <p class="fs-3 fw-semibold">Graphic Design</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
        standard dummy text.</p>
    </div>
    <div class="col-12 col-md-6 mb-5 px-md-5" data-aos="fade-left">
      <i class="mdi mdi-monitor text-main-color icons"></i>
      <p class="fs-3 fw-semibold">Web Design</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
        standard dummy text.</p>
    </div>
    <div class="col-12 col-md-6 mb-5 px-md-5" data-aos="fade-right">
      <i class="mdi mdi-pencil-ruler text-main-color icons"></i>
      <p class="fs-3 fw-semibold">UI/UX Design</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
        standard dummy text.</p>
    </div>
    <div class="col-12 col-md-6 mb-5 px-md-5" data-aos="fade-left">
      <i class="mdi mdi-brush text-main-color icons"></i>
      <p class="fs-3 fw-semibold">App Design & Development</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
        standard dummy text.</p>
    </div>
  </section>
  <!-- !SECTION INTERESTS -->

  <!-- SECTION RESUME -->
  <section id="resume" class="row justify-content-center text-center bg-white py-5">
    <div class="mt-5 mb-3 col-auto" data-aos="fade-up">
      <p class="bg-main px-2">Resume</p>
    </div>
    <h2 class="fw-semibold section-title mb-5" data-aos="fade-up">A Summary of My Resume</h2>

    <!-- SECTION Education -->
    <div class="col-12 col-md-6 text-start mb-5 px-3 py-md-5" data-aos="fade-up">
      <p class="fs-3 fw-semibold pb-3" data-aos="fade-right">My Education</p>
      <div class="left-border pt-3" data-aos="fade-right">
        <div class="ps-3 fs-6 fw-normal">
          <div class="separation-line mb-3 pb-5" data-aos="flip-right">
            <p class="fs-5">Bachelor of Science</p>
            <div class="my-2">
              <p>California State University, East Bay</p>
              <p>Business Degree - IT Management Option</p>
            </div>
            <p class="mb-3">2013 - 2017</p>
          </div>
          <div class="separation-line mb-3 py-5" data-aos="flip-right">
            <p class="fs-5">Certificate of Completion</p>
            <div class="my-2">
              <p>Boise Codeworks</p>
              <p>Full Stack Development Course</p>
            </div>
            <p class="mb-3">Sep 2023 - Dec 2023</p>
          </div>
        </div>
      </div>
    </div>
    <!-- !SECTION Education -->

    <!-- SECTION Experience -->
    <div class="col-12 col-md-6 text-start mb-5 px-3 py-5" data-aos="fade-up">
      <p class="fs-3 fw-semibold pb-3" data-aos="fade-right">My Experience</p>
      <div class="left-border pt-3" data-aos="fade-right">
        <div class="ps-3 fs-6 fw-normal">
          <div class="separation-line mb-3" data-aos="flip-right">
            <p class="fs-5">Full Stack Development Student</p>
            <div class="my-2">
              <p>Boise Codeworks</p>
              <p>Sep 2023 - Dec 2023</p>
            </div>
            <ul class="fw-light">
              <li>
                Completed 500+ hours of coursework doing full-stack development
              </li>
              <li>
                Gained proficiency building frontend Single Page Applications using Javascript, HTML, CSS and the Vue.js
                framework
              </li>
              <li>
                Developed RESTful back end APIs and databases using C#, .NET, MongoDB, MySQL, and Auth0
              </li>
              <li>
                Built 20+ web applications
              </li>
              <li>
                Learned principles of SCRUM/Agile development
              </li>
              <li>
                Gained experience working in a team of developers
              </li>
              <li>
                Built a strong foundation for design patterns like MVC
              </li>
            </ul>
          </div>

          <div class="separation-line mb-3" data-aos="flip-right">
            <p class="fs-5">Software Engineer</p>
            <div class="my-2">
              <p>Mariner Wealth Advisors</p>
              <p>Apr 2022 - Aug 2023</p>
            </div>
            <ul class="fw-light">
              <li>
                Built Python modules and distributed them on GitHub for other team members to use.
              </li>
              <li>
                Refactored old scripts to use Python as the primary language.
              </li>
              <li>
                Automated and monitored daily processes using ActiveBatch
              </li>
              <li>
                Performed ETL processes using Alteryx Designer on data from vendors into the enterprise Snowflake
                database
              </li>
            </ul>
          </div>

          <div class="separation-line mb-3" data-aos="flip-right">
            <p class="fs-5">IT Ambassador</p>
            <div class="my-2">
              <p>Viewpoint Financial Network</p>
              <p>Feb 2012 - Apr 2022</p>
            </div>
            <ul class="fw-light">
              <li>
                Provided in-house IT support to employees for software and hardware issues
              </li>
              <li>
                Product Owner for all subscription SAAS products. Performed admin duties, provisioned, and managed users
                on each system
              </li>
              <li>
                Managed, distributed, and installed company owned devices/hardware
              </li>
              <li>
                Researched and implemented software service solutions for cloud storage, remote meetings, interoffice
                chat, password management, VOIP phones
              </li>
              <li>
                Wrote custom VBA macros to increase office productivity and distributed them as an Excel add-in
              </li>
              <li>
                Acted as liaison to parent company tech support
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <!-- !SECTION Experience -->

    <!-- SECTION Skills -->
    <div class="text-start mb-5 col-12">
      <p class="fs-3 fw-semibold pb-md-5 pb-3" data-aos="fade-right">My Skills</p>
      <section class="row text-center">
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-csharp-plain colored skill-icons"></i>
          <p>C#</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-html5-plain colored skill-icons"></i>
          <p>HTML 5</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-javascript-plain colored skill-icons"></i>
          <p>Javascript ES6</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-css3-plain colored skill-icons"></i>
          <p>CSS 3</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-vuejs-plain colored skill-icons"></i>
          <p>Vue.js</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-bootstrap-plain colored skill-icons"></i>
          <p>Bootstrap 5</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-nodejs-plain colored skill-icons"></i>
          <p>Node JS</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-dotnetcore-plain colored skill-icons"></i>
          <p>.NET Core</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-mongodb-plain colored skill-icons"></i>
          <p>MongoDB</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-python-plain colored skill-icons"></i>
          <p>Python</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-mysql-plain colored skill-icons"></i>
          <p>MySQL</p>
        </div>
        <div class="col-6 col-md-4 col-lg-3 my-3" data-aos="flip-down">
          <i class="devicon-photoshop-plain colored skill-icons"></i>
          <p>Photoshop</p>
        </div>
      </section>
    </div>
    <!-- !SECTION Skills -->


    <div>
      <a class="btn btn-outline-dark mb-5" href="/assets/files/resume.pdf" download="Matt_Wong_Resume">Download PDF
        Resume</a>
    </div>

  </section>
  <!-- !SECTION RESUME -->

  <!-- SECTION PORTFOLIO -->
  <section id="portfolio" class="row justify-content-center text-center dark-bg text-white pt-5">
    <div class="mt-5 mb-3 col-auto" data-aos="fade-up">
      <p class="bg-main px-2 text-dark">Portfolio</p>
    </div>
    <h2 class="fw-semibold section-title mb-5" data-aos="fade-up">Recent Projects</h2>

    <div class=" col-auto list-group list-group-horizontal justify-content-center px-4" data-aos="fade-up">
      <button class="list-group-item list-group-item-action">All</button>
      <button class="list-group-item list-group-item-action">Apps</button>
      <button class="list-group-item list-group-item-action">Games</button>
      <button class="list-group-item list-group-item-action">Art</button>
      <button class="list-group-item list-group-item-action">3D</button>
    </div>

    <div class="row my-5 justify-content-center" data-aos="zoom-in">
      <div class="col-6 col-md-4 col-lg-3 p-1 p-md-2">
        <div class="portfolio-img" data-bs-toggle="modal" data-bs-target="#projectModal"
          style="background-image: url('https://images.unsplash.com/photo-1706378398232-834ca3201ef2?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
          <div class="portfolio-img-overlay">
            <i class="mdi mdi-controller icons text-main-color"></i>
            <p class="fs-5 fw-semibold">Nut Cracking</p>
            <p>Games</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 p-1 p-md-2">
        <div class="portfolio-img"
          style="background-image: url('https://images.unsplash.com/photo-1703880258785-45bc4492a912?q=80&w=3732&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
          <div class="portfolio-img-overlay">
            <i class="mdi mdi-cube icons text-main-color"></i>
            <p class="fs-5 fw-semibold">Molecules</p>
            <p>3D</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 p-1 p-md-2">
        <div class="portfolio-img"
          style="background-image: url('https://images.unsplash.com/photo-1706711053549-f52f73a8960c?q=80&w=3575&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
          <div class="portfolio-img-overlay">
            <i class="mdi mdi-xml icons text-main-color"></i>
            <p class="fs-5 fw-semibold">Fish & Chips</p>
            <p>Apps</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 p-1 p-md-2">
        <div class="portfolio-img"
          style="background-image: url('https://images.unsplash.com/photo-1546593064-053d21199be1?q=80&w=3475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
          <div class="portfolio-img-overlay">
            <i class="mdi mdi-palette icons text-main-color"></i>
            <p class="fs-5 fw-semibold">Alpine Home</p>
            <p>Art</p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- !SECTION PORTFOLIO -->

  <!-- SECTION CONTACT -->
  <section id="contact" class="row justify-content-center text-center bg-main py-5">
    <div class="col-12 col-md-6 px-md-5 text-md-start" data-aos="fade-up">
      <h2 class="fw-semibold section-title my-5">Let's get in touch</h2>
      <p class="fs-5">
        I enjoy discussing new projects and design challenges. Please share as much info, as possible so we can get the
        most out of our first catch-up.
      </p>
      <div class="mt-5">
        <p class="fs-5 fw-semibold">In Person:</p>
        <p>Boise Area (Boise, Meridian, Eagle, Nampa)</p>
      </div>
      <div class="mt-3">
        <p class="fs-5 fw-semibold">Email:</p>
        <p>name@email.com</p>
      </div>
      <div class="d-flex social-icon mt-5 justify-content-center justify-content-md-start">
        <div class="px-1">
          <a class="mdi mdi-github" href="https://github.com/mattwong91"></a>
        </div>
        <div class="px-1">
          <a class="mdi mdi-linkedin" href="https://www.linkedin.com/in/mattwong91"></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 my-5 px-md-5 text-md-start" data-aos="fade-up">
      <h2 class="fw-semibold section-title mb-5">Have questions?</h2>
      <form class="text-start">
        <div class="mb-3">
          <label for="nameInput" class="form-label">Your Name:</label>
          <input type="text" class="form-control" id="nameInput">
        </div>
        <div class="mb-3">
          <label for="emailInput" class="form-label">Email address:</label>
          <input type="email" class="form-control" id="emailInput">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Let me know what questions you have:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="text-center text-md-start mt-4">
          <button type="submit" class="btn btn-dark py-2 px-4">Send <i class="mdi mdi-arrow-right"></i></button>
        </div>
      </form>
    </div>
  </section>
  <!-- !SECTION CONTACT -->

</div>