<div class="container-fluid">
  <section class="row pt-5 text-center header-font fullscreen-with-header bg-main align-items-center">
    <div class="col-12 p-4">
      <img class="img-fluid profile-img" src="/assets/img/coffee.jpg" alt="">
    </div>
    <div class="col-12">
      <p class="fw-normal text-uppercase fs-3">Hi, I'm Matthew Wong</p>
      <p class="fw-bold text-uppercase fs-1">Software Developer</p>
      <p class="fw-light fs-5">based in Eagle, ID</p>
    </div>
    <div class="col-12 pt-3 pb-5">
      <button class="btn btn-dark">View My Works</button>
    </div>
    <div class="col-12 d-flex flex-column justify-content-between">
      <a class="pb-5" href="">Contact Me <i class="mdi mdi-arrow-down-bold-circle-outline"></i></a>
      <i class="mdi mdi-arrow-down fs-3"></i>
    </div>
  </section>

  <section class="row">

  </section>
</div>